<html>
    
    <title>
        recommendation system
    </title>
    <center>
        
    <body bgcolor="#ffeb99" style="font-family:verdana" style="font-size:20px">
        
        <form method="POST" , action="{{url_for('home')}}"  >
            Enter movie : <input type="text" name="name" placeholder="enter movie name"><br><br>
            <input type="submit" name="submit"><br><br>

        </form>
        <table>
            
                {%for i in range(data|length)%}
                <tr>
                    <td>{{data[i]}}</td>
                </tr>
                {%endfor%}
            
        </table>
        
        


        
    </body>
    </center>
    
</html>